body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

div.container{
    perspective: 320px;
}

button.btn{
    display: block;
    margin: 40px 0;
    width: 240px;
    height: 80px;
    border: none;
    background-color: #e15f41;
    color: #f1f1f1;
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: 0.3s linear;
}

button.btn1:hover{
    transform: rotateX(15deg);
    box-shadow: 0 15px 15px #e15f4190;
}

button.btn2:hover{
    transform: rotateX(-15deg);
    box-shadow: 0 -15px 15px #e15f4190;
}

button.btn3:hover{
    transform: rotateY(15deg);
    box-shadow: -15px 0px 15px #e15f4190;
}

button.btn4:hover{
    transform: rotateY(-15deg);
    box-shadow: 15px 0px 15px #e15f4190;
}

