/* impotação de fonte de letra do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;400;500;700;900&display=swap');

/* Configurações gerais do site*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Yantramanav', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/*Configuração do body*/
body{
    background-color: #df7408;
}

/*Configuração da área principal do site*/
main{
    margin: auto;
    width: 800px;
}

/*Configuração do cabechalho do site. logotipo, parágrafo*/
header{
    width: 100%;
    height: 130px;
    background-color: #b22d00;
}

div.alinhEsq{
    width: 75%;
    display: inline-block;
    padding-left: 20px;
}

div.alinhaDir{
    position: relative;
   width: 20%;
   display: inline-block;
   right: 0;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

header h1{
    font-family: 'Calligraffitti', cursive;
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 5px;
}

header p{
    color: whitesmoke;
    font-size: 16pt;
    font-weight: 500;
    letter-spacing: 1.2px;
}

/*Configuração do ménu de navegação*/
nav{
    width: 100%;
    background-color: #d9a400;
    height: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    margin-left: 25px;
    font-weight: 500;
}

nav ul a{
    text-transform: uppercase;
}

nav ul a:hover{
    border-bottom: solid 2px #b22d00;
    color: #a02901;
    font-weight: 900;  
    font-size: 13pt;  
}

/*Configurações do corpo do site*/
section{
    margin: auto;
    width: 100%;
    height: 400px;
    background-color: white;
}

article{
    
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 15px;
    
}

article h1{
    font-size: 26pt;
    border-bottom: solid 2px black;
}

article ul li{
    list-style: none;
    display: inline-block;
}

article img{
    margin-top: 15px;
    margin-right: 18px;
}

article img.imgDir{
    margin-left: 0px;
    margin-right: 0px;
}