body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}

div.image{
    width: 260px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
}

div.image img{
    width: 100%;
}

div.image::before{
    content: '';
    position: absolute;
    left: 0;
}